<html>
    <head>
        <link rel="stylesheet" href ="static/login.css">
        <title>
            register
        </title>
    </head>
    <body>
        <h1>login</h1>
        <form>
            <input type="text" name="username" placeholder="username" required>  <br>
            <input type="password" name="password" placeholder="password" required>  <br>
            <button type="submit">login</button>
        </form>
        <p> dont  have an accont? <a href= "/register">register</a> </p>
        {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
               <ul>
                  {% for category, message in messages %}
                     <li class="{{category}}">{{message}}</li>
                   {% endfor  %}    
               </ul>
            {% endif %}
        {% endwith %}

    </body>
    
</html>

